header {
  width: 100%;
  background: rgb(128, 128, 128);
}

header ul {
  display: flex;
  align-content: center;
  list-style: none;
}

li {
  list-style: none;
  color: #f3f3f3;
}
.listItem {
  margin-right: 0.5rem;
  padding: 0.45rem 0;
  cursor: pointer;
  color: #f3f3f3;
}
